<%= javascript_include_tag "cookie.js" %>
<%= javascript_include_tag "collection.js" %>
<%= javascript_include_tag "/assets/jplayer/jquery.jplayer.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.core.js" %>
<%= javascript_include_tag "/assets/jquery.ui.widget.js" %>
<%= javascript_include_tag "/assets/jquery.ui.mouse.js" %>
<%= javascript_include_tag "/assets/jquery.ui.draggable.js" %>
<%= javascript_include_tag "/assets/jquery.ui.droppable.js" %>
<div id="textDiv" >
</div>
<script type="text/javascript" >
  //初始化题目号
  if(!(getCookie("collection_problem_init")!= null)){
    setCookie("collection_problem_init","0");
  }
  //字体放大、缩小
  var tgs = new Array( 'div','td','tr');
  var szs = new Array('x-small','small','medium','large','x-large');
  var startSz = 2;
  var problem_init = <%= cookies[:collection_problem_init].nil? ? 0 : cookies[:collection_problem_init].to_i%>;
  var problems=new Array;
  var tag_list=["全部收藏"];
  var tag_types=tag_list[0];
  var tag_problems={};
  //记录最后打开的小题
  var last_open_question=null;
</script>
<%= render :partial=>"/common/flowplayer" %>
<div class="m_top">
  <h1 class="ex_paper_h">查看范围：
    <select name="scope" id="scope">
    </select>
  </h1>
  <div class="icon_func">
    <div class="float_right">
      <span class="icon_prev"><a href="javascript:void(0);" class="tooltip" name="上一题" onclick="javascript:click_prev_problem();">上一题</a></span>
      <span class="icon_next"><a href="javascript:void(0);" class="tooltip" name="下一题" onclick="javascript:click_next_problem();">下一题</a></span>
      <span class="problem_title"><font id="global_problem_index"></font>/<font id="global_problem_sum"></font></span>
      <span class="icon_big"><a href="javascript:void(0);" class="tooltip" name="缩小" onclick="javascript:ts('body',-1);">缩小</a></span>
      <span class="icon_small"><a href="javascript:void(0);" class="tooltip" name="放大" onclick="javascript:ts('body',1);">放大</a></span>
      <span class="icon_shanchu"><a href="javascript:void(0);" class="tooltip" name="删除" onclick="javascript:delete_this()">删除</a></span>
    </div>
    <span class="icon_again"><a href="javascript:void(0);" class="tooltip" onclick="javascript:test_again()" name="重做">重做</a></span>
  </div>
</div>
<% category_id = params[:category].nil? ? 2 : params[:category] %>
<input type="hidden" value="<%= @collection_url %>" id="file_path" />
<input type="hidden" value="<%= category_id %>" id="category_id" />
<div class="upErrorTo_tab border_radius" id="upErrorTo_tab">
  <input type="hidden" value="" id="question_id"/>
  <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('.upErrorTo_tab').css('display','none');"/></span>
  <ul>
    <li><input name="error" type="radio" value="1" />题目错误</li>
    <li><input name="error" type="radio" value="2" />答案错误</li>
    <li><input name="error" type="radio" value="3" />解析错误</li>
    <li><input name="error" type="radio" value="4" />词汇错误</li>
  </ul>
  <textarea name="" id="error_content" cols="" rows=""></textarea>
  <div><button class="t_btn" id="report_error" onclick="javascript:for_error()">提交</button></div>
</div>
<div class="m_side m_problem_bg">
  <div class="problem_box">
    <div id='flowplayer_postion'></div>
    <div class="problem_text" id="global_problem_title">
    </div>
  </div>
  <div class="drag_tk_box" id="drag_tk_box">
    <div class="drag_tk border_radius" id="drag_tk">
      <ul id="draggable_list"></ul>
    </div>
  </div>
</div>
<div id="jplayer_one"></div>
<div class="m_side">
  <div class="problem_box" id="questions_resource"></div>
</div>
