<% category_id = params[:category].nil? ? '2' : params[:category] %>
<%= javascript_include_tag "main.js" %>
<h1>模拟考试</h1>
<div class="zhenti_list">
  <ul>
    <% unless @simulations.blank? %>
      <% @simulations.each do |simulation| %>
        <li>
          <h2><%= simulation.title %>
            <% if @exam_user_hash[simulation.id].nil? or @exam_user_hash[simulation.id].is_submited == false %>
              <a href="/simulations/<%= simulation.id %>/do_exam" target="_blank" >(开始考试)</a>
            <% elsif @exam_user_hash[simulation.id].total_score.nil?  %>
              (阅卷中)
            <% elsif %>
              <a href="/simulations/<%= @exam_user_hash[simulation.id].id %>/show_result" target="_blank" >
                (<%= @exam_user_hash[simulation.id].total_score %>)
              </a>
            <% end %>
          </h2>

        </li>
      <% end %>
    <% else %>
      <li>暂无模拟考试</li>
    <% end %>
  </ul>
</div>