<%= javascript_include_tag "update_user_info.js" %>
<div class="rcf_box">
  <label>昵称：</label>
  <div class="setting-item-main">
    <input id="username" type="text" value="<%= @user.username %>" />
  </div>
</div>
<div class="rcf_box">
  <label>E-MAIL：</label>
  <div class="setting-item-main">
    <input id="email" type="text" value="<%=@user.email  %>"/>
  </div>
</div>
<div class="rcf_box">
  <label>学校：</label>
  <div class="setting-item-main">
    <input id="school" type="text" value="<%=@user.school  %>"/>
  </div>
</div>
<div class="rcf_box rcf_box_bottom">
  <label>会员：</label>
  <div class="setting-item-vip">
    <% order=Order.first(:conditions=>"user_id=#{cookies[:user_id]} and TO_DAYS(end_time)>TO_DAYS('#{Time.now}') and status=#{Order::STATUS[:NOMAL]} and category_id=#{Category::TYPE_IDS[:english_fourth_level]}")%>
    <% order6=Order.first(:conditions=>"user_id=#{cookies[:user_id]} and TO_DAYS(end_time)>TO_DAYS('#{Time.now}') and status=#{Order::STATUS[:NOMAL]} and category_id=#{Category::TYPE_IDS[:english_sixth_level]}")%>
    <div>英语四级- <% if order.nil?||order.types==Order::TYPES[:TRIAL_SEVEN]||order.types==Order::TYPES[:COMPETE] %>
        &nbsp;&nbsp;普通会员&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/<%= cookies[:user_id] %>/record?vip=1">开通VIP</a>
      <% else %>
        &nbsp;&nbsp;<img src="/assets/V.png"/>
      <% end %></div>
    <div>英语六级-<% if order6.nil?||order6.types==Order::TYPES[:TRIAL_SEVEN]||order6.types==Order::TYPES[:COMPETE] %>
        &nbsp;&nbsp;普通会员&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/<%= cookies[:user_id] %>/record?vip=1">开通VIP</a>
      <% else %>
        &nbsp;&nbsp;<img src="/assets/V.png"/>
      <% end %></div>
  </div>
</div>
<input type="hidden" value="<%= cookies[:user_id] %>" id="id"/>
<div class="save_info"><button class="save_info_btn" onclick="update_users()"></button></div>
<div class="clear"></div>
