<% category_id = params[:category].nil? ? '2' : params[:category] %>
<h1>专项训练</h1>
<div class="zhenti_list">
  <ul>
    <% unless @specials.blank? %>
      <% @specials.each do |special| %>
        <li>
          <% if cookies[:user_id].nil? %>
            <a href="/specials/<%= special.examination_id %>/join?category=<%= category_id %>">
              <span><img class="tooltip" name=="仅供正式用户使用"  src="/assets/icon_tx.png" /></span>
              <h2><%= special.name %></h2>
            </a>
          <% else %>
            <% if is_vip?(category_id) %>
              <a href="/specials/<%= special.examination_id %>/join?category=<%= category_id %>"
                 <% if @exam_user_hash[special.examination_id]&&@exam_user_hash[special.examination_id][1] %> onclick="return already_submit('<%= special.examination_id %>','<%= @exam_user_hash[special.examination_id][0] %>','<%= @exam_user_hash[special.examination_id][2] %>')" <% end %>>
                   <% if @exam_user_hash[special.examination_id]&&@exam_user_hash[special.examination_id][1] %>
                  <span><img class="tooltip" name=="已完成" src="/assets/icon_wc.png" /></span>
                <% elsif @exam_user_hash[special.id] %>
                  <span><img class="tooltip" name=="未做完" src="/assets/icon_nun.png" /></span>
                <% else %>
                  <span><img src="/assets/icon_tx.png" /></span>
                <% end %>
                <h2><%= special.name %></h2>
              </a>
            <% else %>
              <a href="javascript:void(0);"
                 onclick='javascript:tishi_alert("本试卷仅供正式用户使用。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                <span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                <h2><%= special.name %></h2>
              </a>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <p>暂无专项练习</p>
    <% end %>
  </ul>
  <%=  will_paginate @specials ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
</div>

<div id="already_submit_div" class="tab_box border_radius" style="display:none;">
  <input type="hidden" id="already_submit_ex_id" value=""></input>
  <input type="hidden" id="already_submit_eu_id" value=""></input>
  <input type="hidden" id="already_submit_sheet_url" value=""></input>
  <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('#already_submit_div').hide();" /></span>
  <div class="tab_con">
    <div>你已经做完了该份试卷，你是否要重做题目？</div>
  </div>
  <div class="btn_box00"><button class="t_btn" onclick="javascript:view_paper();"> 不,只想浏览 </button>   &nbsp;&nbsp;<button class="t_btn" onclick="javascript:redo_paper();"> 好,我要重做 </button></div>
</div>


<script type="text/javascript">
  
  function already_submit(eu_id,ex_id,sheet_url){
    generate_flash_div("#already_submit_div");
    $("#already_submit_eu_id").val(eu_id);
    $("#already_submit_ex_id").val(ex_id);
    $("#already_submit_sheet_url").val(sheet_url);
    return false;
  }

  function view_paper(){
    var eu_id = $("#already_submit_eu_id").val();
    $("#already_submit_div").hide();
    window.location.href="/similarities/"+eu_id+"/join?category=<%= category_id %>";
  }

  function redo_paper(){
    var ex_id = $("#already_submit_ex_id").val();
    var sheet_url = $("#already_submit_sheet_url").val();
    sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
    $("#already_submit_div").hide();
    window.location.href="/exam_users/"+ex_id+"/redo_paper?category=<%= category_id %>&sheet_url="+sheet_url+"&type=specials";
  }
</script>

<%= render :partial => "/common/online_qq"  %>
