<% category_id = params[:category].nil? ? '2' : params[:category] %>
<h1>专项训练</h1>
<div class="zhenti_list">
  <ul>
    <% unless @specials.blank? %>
      <% @specials.each do |special| %>
        <li>
          <% if cookies[:user_id].nil? %>
            <a href="/specials/<%= special.examination_id %>/join?category=<%= category_id %>">
              <span><img title="仅供正式用户使用"  src="/assets/icon_tx.png" /></span>
              <h2><%= special.name %></h2>
            </a>
          <% else %>
            <% if is_vip?(category_id) %>
              <a href="/specials/<%= special.examination_id %>/join?category=<%= category_id %>"
                 <% if @exam_user_hash[special.examination_id]&&@exam_user_hash[special.examination_id][1] %> onclick="return already_submit('<%= @exam_user_hash[special.examination_id][0] %>','<%= @exam_user_hash[special.examination_id][2] %>')" <% end %>>
                   <% if @exam_user_hash[special.examination_id]&&@exam_user_hash[special.examination_id][1] %>
                  <span><img title="已完成" src="/assets/icon_wc.png" /></span>
                <% elsif @exam_user_hash[special.id] %>
                  <span><img title="未做完" src="/assets/icon_nun.png" /></span>
                  <% end %>
                <h2><%= special.name %></h2>
              </a>
            <% else %>
              <a href="javascript:void(0);" class="tooltip_vip"
                 onclick='javascript:tishi_alert("本试卷仅供正式用户使用。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                <span><img title="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                <h2><%= special.name %></h2>
              </a>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <p>暂无专项练习</p>
    <% end %>
  </ul>
  <%=  will_paginate @specials ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
</div>

<script type="text/javascript">

  function already_submit(eu_id,sheet_url){
    if(confirm("你已经做完了该专项练习，你想重做该练习么？\n 点击\"确定\"重做，点击\"取消\"只浏览试题")){
      sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
      window.location.href="/exam_users/"+eu_id+"/redo_paper?category="+<%= category_id %>+"&type=specials";
      return false;
    }else{
      return true;
    }
  }
</script>