<%= javascript_include_tag "cookie" %>
<h1>词汇练习</h1>
<div class="cihui_f">
  <div class="ch_f_line">
    <% if cookies[:user_id].nil? %>
      <a href="/words/recite_word?category=<%= params[:category] %>&type=old" class="danci_hg">回顾</a>
      <p>已掌握单词：<span class="orange">0</span></p>
    <% else %>
      <% if is_nomal?(params[:category]) %>
        <a href="javascript:void(0);"  class="danci_hg tooltip_vip" title="仅供正式用户使用" 
           onclick='javascript:tishi_alert("您的试用期已结束。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>回顾</a>
      <% else %>
        <% if @already_recited.total_num > 0 %>
          <a href="javascript:void(0);"
             onclick="javascript:start_word('<%= params[:category] %>', 'old');" class="danci_hg">回顾</a>
        <% else %>
          <a href="javascript:void(0);" title="您目前还没有已经掌握的单词" class="danci_hg">回顾</a>
        <% end %>
      <% end %>
      <p>已掌握单词：<span class="orange"><%= @already_recited.total_num %></span></p>
    <% end %>

  </div>
  <div class="ch_f_line">
    <% if cookies[:user_id].nil? %>
      <a href="/words/recite_word?category=<%= params[:category] %>&type=new" class="danci_hg">背词</a>
      <p>未掌握单词：<span class="orange"><%= @leaving_count %></span></p>
    <% else %>
      <% if is_nomal?(params[:category]) %>
        <a href="javascript:void(0);"  class="danci_bc tooltip_vip" title="仅供正式用户使用" 
           onclick='javascript:tishi_alert("您的试用期已结束。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>背词</a>
      <% else %>
        <% if @leaving_count > 0 %>
          <a href="javascript:void(0);"
             onclick="javascript:start_word('<%= params[:category] %>', 'new');" class="danci_bc">背词</a>
        <% else %>
          <a href="javascript:void(0);" title="您目已经没有未掌握的单词了" class="danci_hg">背词</a>
        <% end %>
      <% end %>
      <p>未掌握单词：<span class="orange"><%= @leaving_count %></span></p>
    <% end %>
  </div>
  <div><span class="orange">*</span>会从需要学习的词语中随机选出对应数量的词汇进行练习。</div>
</div>