<%= javascript_include_tag "/assets/jplayer/jquery.jplayer.min.js" %>
<script type="text/javascript">
  var word_ids = "<%= @word_ids.join(",") %>".split(",");
</script>
<%= javascript_include_tag "words" %>
<h1>词汇练习</h1>
<div class="cihui_lx">
  <div class="ch_lx_nav">
    <ul class="lx_ul">
      <li class="hover">
        <a href="/words/recite_word?category=<%= params[:category] %>&type=<%= params[:type] %>">单词认读</a>
      </li>
      <li><a href="javascript:void(0);">回想释义</a></li>
      <li><a href="javascript:void(0);">词汇运用</a></li>
      <li><a href="javascript:void(0);">拼写游戏</a></li>
    </ul>
  </div>
  <div class="ch_box">
    <div id="jquery_jplayer" class="jp-jplayer" style="width:0px;height:1px;"></div>
    <input type="hidden" name="step_page" id="step_page" value="0" />
    <% @words.each_with_index do |word, index| %>
      <div class="ch_text" id="word_info_<%= index %>" style="display: none;">
        <div class="ch_words_shu">(<%= (index + 1) %>)</div>
        <div class="ch_words_line">
          <span class="font_size_24"><%= word.name %></span>
          <span><%= Word::TYPES[word.types] %></span>
          <span><%= word.phonetic %></span>
          <a href="javascript:void(0);"
             onclick="javascript:control_media('<%= Constant::BACK_SERVER_PATH + word.enunciate_url if word.enunciate_url %>');">
            <img src="/assets/icon_fy.png" />
          </a>
        </div>
        <div class="ch_words_line">
          <a href="javascript:void(0);" class="next_down" onclick="javascript:show_mean(<%= word.id %>);">
            <img src="/assets/next_down.png" title="显示单词释义" />
          </a>
        </div>
        <div class="ch_words_line" id="mean_<%= word.id %>" style="display:none;">
          <p class="font_size_16"><%= word.en_mean %></p>
          <p><%= word.ch_mean %></p>
        </div>
        <div class="ch_words_line" id="sentence_next_<%= word.id %>" style="display:none;">
          <a href="javascript:void(0);" class="next_down" onclick="javascript:show_sentence(<%= word.id %>);" >
            <img src="/assets/next_down.png" title="显示单词例句" />
          </a>
        </div>
        <div class="ch_words_line" id="sentence_<%= word.id %>" style="display:none;">
          <ul class="words_ul_font14">
            <% @sentence_hash[word.id].each do |description| %>
              <li><%= description %></li>
            <% end unless @sentence_hash[word.id].nil? %>
          </ul>
        </div>
        <div class="ch_words_line" id="btn_<%= word.id %>" style="display:none;">
          <button class="t_btn"
                  onclick="javascript:remember_word(<%= word.id %>, <%= index %>, <%= params[:category] %>, 1, '<%= params[:type] %>');">
            熟悉了
          </button>
          <button class="t_btn"
                  onclick="javascript:remember_word(<%= word.id %>, <%= index %>, <%= params[:category] %>, 0, '<%= params[:type] %>');" >
            不熟悉
          </button>
        </div>
      </div>
    <% end unless @words.blank? %>
    <div class="box_bottom_bg"></div>
  </div>
</div>
