<%= javascript_include_tag "cookie" %>
<script type="text/javascript">
  var word_ids = null;
</script>
<%= javascript_include_tag "words" %>
<h1>词汇练习</h1>
<div class="cihui_lx">
  <div class="ch_lx_nav">
    <ul class="lx_ul">
      <li><a href="javascript:void(0);">单词认读</a></li>
      <li><a href="javascript:void(0);">回想释义</a></li>
      <li class="hover"><a href="/words/use?category=<%= params[:category] %>&type=<%= params[:type] %>">词汇运用</a></li>
      <li><a href="javascript:void(0);">拼写游戏</a></li>
    </ul>
  </div>
  <div class="ch_box">
    <% all_words = @words.sort_by{ rand } %>
    <input type="hidden" name="all_words" id="all_words" value="<%= (all_words.collect { |word| word.id }).join(",") %>"/>
    <input type="hidden" name="step_page" id="step_page" value="2" />
    <% all_words.each_with_index do |word, index| %>
      <div class="ch_text" id="word_info_<%= index %>" style="display: none;">
        <div class="ch_words_shu">(<%= (index + 1) %>)</div>
          <div id="sentence_<%= index %>">
            <div class="ch_words_line">
              <p class="font_size_16">
                <% @sentence_hash[word.id].each do |sentence| %>
                  <%= sentence.gsub("#{word.name}", "_______").gsub("#{word.name.capitalize}", "_______") %>
                <% end unless @sentence_hash[word.id].nil? %>
              </p>
            </div>
            <div class="ch_words_line">
                <% (((@words.to_a - [word])[0,3] + [word]).sort_by{ rand }).each do |w| %>
                  <div class="words_btn font_size_16">
                    <a href="javascript:void(0);"
                       onclick="javascript:recollection_word(<%= word.id %>, <%= w.id %>, <%= params[:category] %>, <%= index %>, 3, '<%= params[:type] %>');">
                         <%= w.name %>
                    </a>
                  </div>
                <% end %>
            </div>
          </div>
      </div>
    <% end unless @words.blank? %>
    <div class="box_bottom_bg"></div>
  </div>
</div>
<div id="tab_box" class="tab_box border_radius icon_false" style="display: none;">
</div>
<div class="tab_box border_radius" id="goon_tab" style="display: none;">
</div>