<% category_id = params[:category].nil? ? '2' : params[:category] %>
<h1>历年<%= @category.name %>真题</h1>
<div class="zhenti_list">
  <ul>
    <% if @similarities.blank? %>
      <p>暂无<%= @category.name %>真题</p>
    <% else %>
      <% @similarities.each do |similarity| %>
        <li>
          <% if cookies[:user_id].nil? %>
            <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>">
              <% unless similarity.is_free %><span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span><% end %>
              <h2><%= similarity.title %></h2>
            </a>
          <% else %>
            <% if is_vip?(params[:category]) %>
              <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>" <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                   onclick="return already_submit('<%= similarity.id %>','<%= @exam_user_hash[similarity.id][0] %>','<%= @exam_user_hash[similarity.id][2] %>')" <% end %>>
                   <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                  <span><img class="tooltip" name="已完成" src="/assets/icon_wc.png" /></span>
                <% elsif @exam_user_hash[similarity.id] %>
                  <span><img class="tooltip" name="未做完" src="/assets/icon_nun.png" /></span>
                <% elsif !similarity.is_free %>
                  <span><img src="/assets/icon_tx.png" /></span>
                <% end %>
                <h2><%= similarity.title %></h2>
              </a>
            <% elsif is_nomal?(params[:category]) %>
              <a href="javascript:void(0);"
                 onclick='javascript:tishi_alert("您的试用期已结束。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                <% unless similarity.is_free %><span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span><% end %>
                <h2><%= similarity.title %></h2>
              </a>
            <% else %>
              <% if similarity.is_free %>
                <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>" <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                     onclick="return already_submit('<%= similarity.id %>','<%= @exam_user_hash[similarity.id][0] %>','<%= @exam_user_hash[similarity.id][2] %>')" <% end %>>
                     <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                    <span><img class="tooltip" name="已完成" src="/assets/icon_wc.png" /></span>
                  <% elsif @exam_user_hash[similarity.id] %>
                    <span><img class="tooltip" name="未做完" src="/assets/icon_nun.png" /></span>
                  <% end %>
                  <h2><%= similarity.title %></h2>
                </a>
              <% else %>
                <a href="javascript:void(0);"
                   onclick='javascript:tishi_alert("本试卷仅供正式用户使用。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                  <span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                  <h2><%= similarity.title %></h2>
                </a>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%=  will_paginate @similarities ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
</div>

<div id="already_submit_div" class="tab_box border_radius" style="display:none;">
  <input type="hidden" id="already_submit_ex_id" value=""></input>
  <input type="hidden" id="already_submit_eu_id" value=""></input>
  <input type="hidden" id="already_submit_sheet_url" value=""></input>
  <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('#already_submit_div').hide();" /></span>
  <div class="tab_con">
    <div>你已经做完了该份试卷，你是否要重做题目？</div>
  </div>
  <div class="btn_box00"><button class="t_btn" onclick="javascript:view_paper();"> 不,只想浏览 </button>   &nbsp;&nbsp;<button class="t_btn" onclick="javascript:redo_paper();"> 好,我要重做 </button></div>
</div>


<script type="text/javascript">

  function already_submit(eu_id,ex_id,sheet_url){
    generate_flash_div("#already_submit_div");
    $("#already_submit_eu_id").val(eu_id);
    $("#already_submit_ex_id").val(ex_id);
    $("#already_submit_sheet_url").val(sheet_url);
    return false;
  }

  function view_paper(){
    var eu_id = $("#already_submit_eu_id").val();
    $("#already_submit_div").hide();
    window.location.href="/similarities/"+eu_id+"/join?category=<%= category_id %>";
  }

  function redo_paper(){
    var ex_id = $("#already_submit_ex_id").val();
    var sheet_url = $("#already_submit_sheet_url").val();
    sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
    $("#already_submit_div").hide();
    window.location.href="/exam_users/"+ex_id+"/redo_paper?category=<%= category_id %>&sheet_url="+sheet_url+"&type=similarities";
  }
</script>
<%= render :partial => "/common/online_qq"  %>