<% category_id = params[:category].nil? ? '2' : params[:category] %>
<h1>历年<%= @category.name %>真题</h1>
<div class="zhenti_list">
  <ul>
    <% if @similarities.blank? %>
      <p>暂无<%= @category.name %>真题</p>
    <% else %>
      <% @similarities.each do |similarity| %>
        <li>
          <% if cookies[:user_id].nil? %>
            <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>">
              <% unless similarity.is_free %><span><img title="仅供正式用户使用" src="/assets/icon_tx.png" /></span><% end %>
              <h2><%= similarity.title %></h2>
            </a>
          <% else %>
            <% if is_vip?(params[:category]) %>
              <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>" <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                   onclick="return already_submit('<%= @exam_user_hash[similarity.id][0] %>','<%= @exam_user_hash[similarity.id][2] %>')" <% end %>>
                   <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                  <span><img title="已完成" src="/assets/icon_wc.png" /></span>
                <% elsif @exam_user_hash[similarity.id] %>
                  <span><img title="未做完" src="/assets/icon_nun.png" /></span>
                <% elsif !similarity.is_free %>
                  <span><img title="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                <% end %>
                <h2><%= similarity.title %></h2>
              </a>
            <% elsif is_nomal?(params[:category]) %>
              <a href="javascript:void(0);"
                 onclick='javascript:tishi_alert("您的试用期已结束。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                <% unless similarity.is_free %><span><img title="仅供正式用户使用" src="/assets/icon_tx.png" /></span><% end %>
                <h2><%= similarity.title %></h2>
              </a>
            <% else %>
              <% if similarity.is_free %>
                <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>" <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                     onclick="return already_submit('<%= @exam_user_hash[similarity.id][0] %>','<%= @exam_user_hash[similarity.id][2] %>')" <% end %>>
                     <% if @exam_user_hash[similarity.id]&&@exam_user_hash[similarity.id][1] %>
                    <span><img title="已完成" src="/assets/icon_wc.png" /></span>
                  <% elsif @exam_user_hash[similarity.id] %>
                    <span><img title="未做完" src="/assets/icon_nun.png" /></span>
                  <% end %>
                  <h2><%= similarity.title %></h2>
                </a>
              <% else %>
                <a href="javascript:void(0);"
                   onclick='javascript:tishi_alert("本试卷仅供正式用户使用。[<a class=\"link_c\" href=\"/users/charge_vip?category=<%= params[:category] %>\">升级为正式用户</a>]");'>
                  <span><img title="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                  <h2><%= similarity.title %></h2>
                </a>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%=  will_paginate @similarities ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
</div>

<script type="text/javascript">

  function already_submit(eu_id,sheet_url){
    if(confirm("你已经做完了该真题，你想重做该真题么？\n 点击\"确定\"重做，点击\"取消\"只浏览试题")){
      sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
      window.location.href="/exam_users/"+eu_id+"/redo_paper?category="+<%= category_id %>+"&type=similarities";
      return false;
    }else{
      return true;
    }
  }
</script>