<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= render :partial => "/common/seo"  %>
    <%= stylesheet_link_tag    "style" %>
    <%= stylesheet_link_tag    "public" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "main.js" %>
    <%= javascript_include_tag "cookie.js" %>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');

      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26018499-1']);
      _gaq.push(['_setDomainName', 'gankao.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="wrap">
      <%= render :partial => "/common/flash_div"  %>
      <%= render :partial => "/common/head_div"  %>
      <div class="clear"></div>
      <div class="main_Div">
        <div class="planBox">
          <div class="planTable">
            <%category_id = "#{params[:category]}"=="" ? 2 : params[:category]%>
            <%= form_for :task,:url=>"/study_plans/check_task",:html=>{:id=>"task"},:remote=>true do %>
              <input type="hidden" value="<%= params[:category] %>" id="category" name="category"/>
            <% end %>
            <% @day_all.each_with_index do |next_day,index| %>
              <div class="pt_day"><div class="pt_day_h">第<big><%= index+1 %></big>天</div>
                <%if  next_day==Time.now.strftime("%Y_%m_%d")%>
                  <% if @day_status[next_day] %>
                    <div class="pt_ztai"><img src="/assets/icon_jl.png" /></div>
                  <%else %>
                    <div class="pt_day_list"><a href="/similarities?category=<%= category_id %>" class="qzt_a">去做题&gt;&gt;</a><span class="pt_lianxi tooltip" name="真题"><%= @pra_exer[0] %></span></div>
                    <div class="pt_day_list"><a href="/words?category=<%= category_id %>" class="qzt_a">去背词&gt;&gt;</a><span class="pt_beici tooltip" name="单词"><%= @pra_exer[1] %></span></div>
                    <div class="pt_day_list"><button class="pt_xunz_btn" onclick="javascript:$('#task').submit();" >领取勋章</button></div>
                    <script type="text/javascript">
                      $(".pt_day_list").parent().addClass("pt_day_new");
                    </script>
                  <% end %>
                <%elsif next_day<Time.now.strftime("%Y_%m_%d")%>
                  <% if @day_status[next_day]  %>
                    <div class="pt_ztai"><img src="/assets/icon_jl.png" /></div>
                  <% else %>
                    <div class="pt_ztai"><img src="/assets/icon_jg.png" /></div>
                  <% end %>
                <% end %>
              </div>
            <% end unless @day_all.blank? %>
          </div>
        </div>
      </div>
      <div class="foot"></div>
      <%= render :partial => "/common/online_qq"  %>
    </div>
    <div style="display: none" id="today_madel">
      <div class="pt_ztai"><img src="/assets/icon_jl.png" /></div>
    </div>
    <% if !cookies[:first].nil? and cookies[:first] == "1" %>
      <%= render :partial => "/common/complete_info" %>
      <script type="text/javascript">
        generate_flash_div("#complete_info");
        $('#first_zhez').css('display','block');
        $('#complete_info').css('display','block');
        $('.xx_x').bind('click',function(){
          $('#complete_info').hide();
          $('#first_zhez').hide();
          delCookie("first");
          return false;
        })
      </script>
    <% end %>
  </body>
</html>