<% if @user_plan.nil? %>
  <div class="jihua_w"><img src="/assets/ji_pic.png" /></div>
  <div class="jihua_w">
    <div class="jihua_btn_box">
      <% if @study_plan.nil? %>
        <button class="jihua_btn" title="暂时还没有必过挑战" disabled >我要必过</button>
      <% else %>
        <% if @free_count > 0 %>
          <button class="jihua_btn"
                  onclick="javascript:window.location.href='/study_plans/<%= @study_plan.id %>?category=<%= params[:category] %>';">
            我要必过</button>
        <% else %>
          <button class="jihua_btn" disabled>我要必过</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="jihua_w red">
    <% if @free_count > 0 %>
      <span>剩余免费名额<%= @free_count %></span>
    <% else %>
      <span>今日免费名额已经领取完啦</span>
    <% end %>
  </div>
<% elsif @user_plan.status == false %>
  <div class="challengeLoss">
    <div><img src="/assets/challengeLoss.png" /></div>
    <div class="cLoss_btn_box">
      <% if @user_plan.num < StudyPlan::CAN_JOIN_TIME %>
        <button class="c_btn"
                onclick="javascript:window.location.href='/study_plans/<%= @study_plan.id %>?category=<%= params[:category] %>';">
          最后一次挑战
        </button>
      <% end %>
    </div>
  </div>
<% end %>
<div class="zhezhao" id="ipad_zz"></div>
<div class="ipad_tab border_radius">
  <span class="xx_x"><img src="/assets/x.png" onclick="javascript:$('#ipad_zz').hide();$('.ipad_tab').hide();" /></span>
  <div class="ipad_btn" id="ipad_btn">
    <% if cookies[:user_id] %>
      <button class="jihua_btn"
              onclick="javascript:$('#ipad_btn').hide();$('#ipad_div').fadeIn();" >我要参加</button>
            <% else %>
      <button class="jihua_btn"
              onclick="javascript:window.location.href='/logins?last_url=http://<%= request.host_with_port %>/study_plans?category=<%= params[:category] %>';" >我要参加</button>
            <% end %>
  </div>
  <div class="zf_weibo" id="ipad_div" style="display:none;">
    <h1 class="ipad_h1" style="height: 24px; line-height: 24px; font-size: 14px; color: #ff8400; padding-left: 20px;text-shadow: 0 1px 0 #F0F0F0;margin:0;text-align: left;">转发我们的活动</h1>
    <span><a href="http://weibo.com/gankao2011" target="_blank" class="logo_r">转发人人主页</a></span>
    <span><a href="http://weibo.com/gankao2011" target="_blank" class="logo_s">转发新浪微博</a></span>
    <span><a href="http://weibo.com/gankao2011" target="_blank" class="logo_q">转发腾讯微博</a></span>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    generate_flash_div(".ipad_tab");
  })
</script>
<%= render :partial => "/common/online_qq"  %>