<% if @user_plan.nil? %>
  <div class="jihua_w_h">必过挑战介绍:</div>
  <div class="jihua_w"><img src="/assets/ji_pic.png" /></div>
  <div class="jihua_w">
    <div class="jihua_btn_box">
      <% if @study_plan.nil? %>
        <button class="jihua_btn" title="暂时还没有必过挑战" disabled >我要必过</button>
      <% else %>
        <% if @free_count > 0 %>
        <button class="jihua_btn"
                onclick="javascript:window.location.href='/study_plans/<%= @study_plan.id %>?category=<%= params[:category] %>';">
          我要必过</button><span>剩余免费名额<%= @free_count %></span>
          <% else %>
          <button class="jihua_btn" disabled>我要必过</button><span>今日免费名额已经领取完啦</span>
           <% end %>
      <% end %>
    </div>
  </div>
<% elsif @user_plan.status == false %>
  <div class="challengeLoss">
    <div><img src="/assets/challengeLoss.png" /></div>
    <div class="cLoss_btn_box">
      <% if @user_plan.num < StudyPlan::CAN_JOIN_TIME %>
        <button class="c_btn"
                onclick="javascript:window.location.href='/study_plans/<%= @study_plan.id %>?category=<%= params[:category] %>';">
          最后一次挑战
        </button>
      <% end %>
    </div>
  </div>
<% end %>
<%= render :partial => "/common/online_qq"  %>