<script type='text/javascript' charset='utf-8' src='/assets/qq/fusion_loader'></script>
<div class="zhezhao" id="ipad_zz"></div>
<div class="ipad_tab border_radius">
  <span class="xx_x"><img src="/assets/x.png" onclick="javascript:$('#ipad_zz').hide();$('.ipad_tab').hide();" /></span>
  <div class="ipad_btn" id="ipad_btn">
    <% if cookies[:user_id] %>
      <button class="jihua_btn"
              onclick="javascript:$('#ipad_btn').hide();$('#ipad_div').fadeIn();" >我要参加</button>
            <% else %>
      <button class="jihua_btn"
              onclick="javascript:window.location.href='/logins?last_url=http://<%= request.host_with_port %>/study_plans?category=<%= params[:category] %>';" >我要参加</button>
            <% end %>
  </div>
  <div class="zf_weibo" id="ipad_div" style="display:none;">
    <h1 class="ipad_h1" style="height: 24px; line-height: 24px; font-size: 14px; color: #ff8400; padding-left: 20px;text-shadow: 0 1px 0 #F0F0F0;margin:0;text-align: left;">转发我们的活动</h1>
    <% @renren_app_id = "165123" ; @renren_url = "http://widget.renren.com/dialog/feed?app_id=#{@renren_app_id}&action_name=访问&action_link=#{Constant::SERVER_PATH}/study_plans&redirect_uri=#{Constant::SERVER_PATH}/study_plans/plan_renren&url=#{Constant::SERVER_PATH}/study_plans&name=接受挑战，赢取“牛排”&caption=赶考网&description=即日起只要你完成赶考网的“必过挑战” 并且在微博或者人人转发我们的活动，你就有机会获得The New iPad ，结果6月30日公布&image=#{Constant::SERVER_PATH}/assets/ipad_bg.jpg" %>
    <span><a href="javascript:void(0);" onclick="javascript:window.open('<%= @renren_url %>','_blank','height=500,width=980,left=100,top=150')" class="logo_r">转发人人主页</a></span>
    <% @sina_app_key = "3987186573" ; @sina_url ="http://service.weibo.com/share/share.php?url=#{Constant::SERVER_PATH}/study_plans&searchPic=false&appkey=#{@sina_app_key}&title=接受挑战，赢取“牛排”。即日起只要你完成赶考网的“必过挑战” 并且在微博或者人人转发我们的活动，你就有机会获得The New iPad ，结果6月30日公布&pic=#{Constant::SERVER_PATH}/assets/ipad_bg.jpg&ralateUid=&language=zh_cn" %>
    <span><a href="javascript:void(0);" onclick="javascript:window.open('<%= @sina_url %>');setTimeout(function(){window.location.href='/study_plans/<%= @study_plan.id %>?category=<%= params[:category] %>&activity=activity';},2000);" target="_blank" class="logo_s">转发新浪微博</a></span>
    <span><a href="#" class="logo_q" onclick="share_steak(<%= @study_plan.id %>)">转发qq空间</a></span>
    <input type="hidden" value="<%= Constant::SHARE_IMG %>" id="img_url" />
    <input type="hidden" value="<%= "www.gankao.co" %>" id="share_url" />
    <input type="hidden" value="<%= params[:category] %>" id="share_category" />
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    generate_flash_div(".ipad_tab");
  })
</script>