<div id='flash_notice' class="tishi_tab border_radius">
  <span class='xx_x' onclick='javascript:close_tishi_tab();'><img src='/assets/xx.png' /></span>
  <p>
    <%  if flash[:warn] %>
      <%= flash[:warn].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:warn] = nil %>
    <% elsif flash[:error] %>
      <%= flash[:error].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:error] = nil %>
    <% elsif flash[:notice] %>
      <%= flash[:notice].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:notice] = nil %>
    <% elsif flash[:success] %>
      <%= flash[:success].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:success] = nil %>
    <% elsif flash[:pic_warn] %>
      <%= flash[:pic_warn].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:pic_warn] = nil %>
    <% elsif flash[:failure] %>
      <%= flash[:failure].html_safe %><script type='text/javascript'>show_flash_div();</script><% flash[:failure] = nil %>
    <% end %>
  </p>
</div>






