<% category_id = params[:category].nil? ? 2 : params[:category] %>
<div class="head">
  <div class="head_info">
    <% if cookies[:user_id] %>
      <div class="h_user">
        <a href="#" class="h_email email_u">邮件</a>
        <a href="/users/<%= cookies[:user_id] %>?category=<%= category_id %>"><%= cookies[:user_name] %>
          <% if is_trial?(category_id)
            order = Order.first(:conditions=>"user_id = #{cookies[:user_id]} and types = #{Order::TYPES[:TRIAL_SEVEN]} and category_id = #{category_id}")
            day=((order.end_time - Time.now.to_datetime)/1.day).to_i%>
            <% unless order.nil? %>
              <% if day!=0 %>
                <%=  "(试用剩#{day}天)" %>
              <%else%>
                <%=  "(试用即将到期)" %>
              <% end %>
            <% end %>
          <%  elsif is_nomal?(category_id) %>
            <%= " (试用结束)" %>
          <% end %></a>
        <a href="/users/charge_vip">升级</a>|<a href="/users/delete_user">退出</a>
        <div class="email_tab" style="display: none; ">
          <ul>
            <li><a href="/users/<%= cookies[:user_id] %>/info?target=0&category=<%= category_id %>">收件箱:<span class="orange"><%=Notice.count(:id, :conditions =>"send_types=#{Notice::SEND_TYPE[:SINGLE]} and target_id=#{cookies[:user_id]}")  %></span></a></li>
            <li><a href="/users/<%= cookies[:user_id] %>/info?target=1&category=<%= category_id %>">通&nbsp;&nbsp;知:<span class="orange"><%= Notice.count(:id, :conditions =>"send_types=#{Notice::SEND_TYPE[:SYSTEM]} and TO_DAYS(ended_at)>TO_DAYS('#{Time.now}')") %></span></a></li>
          </ul>
        </div>

      </div>
    <% else %>
      <div class="h_user"><a href="/logins">登录</a></div>
    <% end %>
    <div class="h_banner"><div class="change">
        <ul>
          <li><a href="#"><img src="/assets/banner.png"/></a></li>
          <li><a href="#"><img src="/assets/banner8.png"/></a></li>
          <li><a href="#"><img src="/assets/banner9.png"/></a></li>
        </ul>
      </div></div>
  </div>
  <div class="logo"><a href="/"><img src="/assets/logo.png" alt="专业英语在线训练" /></a></div>
  <div class="nav">
    <ul>
      <li><a href="/similarities?category=<%= category_id %>" <% if controller.controller_name=="similarities" || (controller.controller_name=="exam_users"&&params["type"]=="similarities") %> class="hover" <% end %> >真题</a></li>
      <li><a href="/specials?category=<%= category_id %>" <% if controller.controller_name=="specials" || (controller.controller_name=="exam_users"&&params["type"]=="specials") %> class="hover" <% end %> >专题</a></li>
      <li><a href="/words?category=<%= category_id %>"       <% if controller.controller_name=="words" %> class="hover" <% end %> >词汇</a></li>
      <li><a href="/simulations?category=<%= category_id %>" <% if controller.controller_name=="simulations" %> class="hover" <% end %> >模考</a></li>
      <li><a href="/study_plans?category=<%= category_id %>" <% if controller.controller_name=="study_plans" %> class="hover" <% end %> >计划</a></li>
      <% if cookies[:user_id].nil? or (!cookies[:user_id].nil? and !is_nomal?(params[:category])) %>
        <li><a href="/collections?category=<%= category_id %>" <% if controller.controller_name=="collections" %> class="hover" <% end %> >收藏</a></li>
      <% else %>
        <li><a class="tooltip_vip" title="仅供正式用户使用" href="/collections/not_vip?category=<%= category_id %>">收藏</a></li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>