<% category_id = params[:category].nil? ? 2 : params[:category] %>
<div class="head">
  <div class="head_info">
    <% if cookies[:user_id] %>
      <div class="h_user">
        <a href="javascript:void(0);" class="h_email email_u">邮件</a>
        <a class="user_name" href="/users/<%= cookies[:user_id] %>?category=<%= category_id %>">
          <%= (cookies[:user_name].nil? or cookies[:user_name].empty?) ? "游客" : cookies[:user_name] %></a>|<a href="/logins/logout">退出</a>
        <div class="email_tab" style="display: none; ">
          <ul>
            <li><a href="/users/<%= cookies[:user_id] %>/info?target=0&category=<%= category_id %>">收件箱:<span class="orange"><%=Notice.count(:id, :conditions =>"send_types=#{Notice::SEND_TYPE[:SINGLE]} and target_id=#{cookies[:user_id]}")  %></span></a></li>
            <li><a href="/users/<%= cookies[:user_id] %>/info?target=1&category=<%= category_id %>">通&nbsp;&nbsp;知:<span class="orange"><%= Notice.count(:id, :conditions =>"send_types=#{Notice::SEND_TYPE[:SYSTEM]} and TO_DAYS(ended_at)>TO_DAYS('#{Time.now}')") %></span></a></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="h_user"><a href="/logins">登录</a></div>
    <% end %>
    <div class="h_banner"><div class="change">
        <ul>
          <li><a <% if is_vip?(category_id)&&!is_must?(category_id) %>
                href="#" onclick="tishi_alert('您已经是正式用户了，无需升级')"
              <% else%>
                href="/users/charge_vip?category=<%= category_id %>"

              <% end %>
              ><img src="/assets/banner.png"/></a></li>
          <li style="display:none;"><a <% if is_vip?(category_id) %>
                href="#" onclick="tishi_alert('您已经是正式用户了，无需升级')"
              <% else %>
                href="/study_plans?category=<%= category_id %>"
              <%end%>><img src="/assets/banner8.png"/></a></li>
          <li style="display:none;"><a href="#"><img src="/assets/banner9.png"/></a></li>
           <li style="display:none;"><a href="javascript:void(0);" <% if cookies[:user_id] %> onclick="javascript:fankui();" <% else %> onclick="javascript:tishi_alert('请您先登录');" <% end %> ><img src="/assets/fankui.png"/></a></li>
        </ul>
      </div></div>
  </div>
  <div class="logo"><a href="/"><img src="/assets/logo.png" alt="专业英语在线训练" /></a></div>
  <div class="object"><big class="object_big"><%= Category::NAME["#{category_id}"] %></big>
    <small class="object_small">
      <% if cookies[:user_id] && is_trial?(category_id)
        order = Order.first(:conditions=>"user_id = #{cookies[:user_id]} and types = #{Order::TYPES[:TRIAL_SEVEN]} and status=#{Order::STATUS[:NOMAL]} and category_id = #{category_id}")
        day= (order and order.end_time) ? ((order.end_time - Time.now.to_datetime)/1.day).to_i : -1 %>
        <% if day>=1 %>
          <%=  "(试用剩#{day}天)" %>
        <%elsif day==0%>
          <%=  "(试用即将到期)" %>
        <% end %>
      <%  elsif cookies[:user_id] && is_nomal?(category_id) %>
        <%= " (试用结束)" %>
      <% end %>
    </small>
    <% if cookies[:user_id] && (is_trial?(category_id)||is_nomal?(category_id)) %>
      <a href="/users/charge_vip?category=<%= category_id %>">升级</a>
    <% end %>
  </div>
  <div class="nav">
    <ul>
      <li><a href="/similarities?category=<%= category_id %>" <% if controller.controller_name=="similarities" || (controller.controller_name=="exam_users"&&params["type"]=="similarities") %> class="hover" <% end %> >真题</a></li>
      <li><a href="/specials?category=<%= category_id %>" <% if controller.controller_name=="specials" || (controller.controller_name=="exam_users"&&params["type"]=="specials") %> class="hover" <% end %> >专题</a></li>
      <li><a href="/words?category=<%= category_id %>"       <% if controller.controller_name=="words" %> class="hover" <% end %> >单词</a></li>
      <li><a href="/simulations?category=<%= category_id %>" <% if controller.controller_name=="simulations" %> class="hover" <% end %> >模考</a></li>
      <% if cookies[:user_id].nil? or (!cookies[:user_id].nil? and !is_nomal?(params[:category])) %>
        <li><a href="/collections?category=<%= category_id %>" <% if controller.controller_name=="collections" %> class="hover" <% end %> >收藏</a></li>
      <% else %>
        <li><a class="tooltip_vip" title="仅供正式用户使用" href="/collections/not_vip?category=<%= category_id %>">收藏</a></li>
      <% end %>
      <li><a href="/study_plans?category=<%= category_id %>" 
             class="orange <% if controller.controller_name=="study_plans" %>hover<% end %>"><strong>必过挑战</strong></a></li>
    </ul>
  </div>

  <div id="fankui_tab_box" class="fankui_tab_box border_radius" style="display:none;">
    <div class="fankui_list"><label>科 目:</label><span><%= category_id.to_i==2 ? "大学英语四级" : category_id.to_i==3 ? "大学英语六级" : "未指定" %></span></div>
    <input type="hidden" id="fankui_category_id" value="<%= category_id %>"></input>
    <div class="fankui_list"><label><span class="red">*</span>联系方式:</label><input id="fankui_answer" name="" type="text" /></div>
    <div class="fankui_list"><label class="float_left"><span class="red">*</span>反馈内容:</label><textarea id="fankui_content" name="" cols="" rows=""></textarea></div>
    <div class="tab_btn"><button class="t_btn" onclick="javascript:ajax_send_fankui();">发送</button>&nbsp;&nbsp;<button class="t_btn" onclick="javascript:$('#fankui_tab_box').hide();">取消</button></div>
  </div>

  <script type="text/javascript">
    
    function fankui(){
      generate_flash_div("#fankui_tab_box");
      $("#fankui_answer").val("");
      $("#fankui_content").val("");
      $("#fankui_tab_box").show();
    }

    function ajax_send_fankui(){
      var category_id = $("#fankui_category_id").val();
      var answer = $("#fankui_answer").val();
      var content = $("#fankui_content").val();
      if(answer.trim()==""){
        tishi_alert("请留下您的联系方式。");
        return false;
      }
      if(content.trim()==""){
        tishi_alert("请提供您的反馈信息。");
        return false;
      }
      $("#fankui_tab_box").hide();
      $.ajax({
        type: "POST",
        url: "/users/ajax_send_fankui.json",
        dataType: "json",
        data : {
          "category_id":category_id,
          "answer":answer,
          "content":content
        },
        success : function(data) {
          tishi_alert(data.message);
        }
      });
    }

  </script>


  <div class="clear"></div>
</div>