<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title.nil? ? "赶考网" : @title %></title>
    <meta name="description" content="<%= @meta_description.nil? ? "赶考网" : @meta_description %>" />
    <%= stylesheet_link_tag    "/assets/style.css" %>
    <%= stylesheet_link_tag    "/assets/public.css" %>
    <%= stylesheet_link_tag "/assets/jplayer.blue.monday.css" %>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
		<script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
		<script>
		/* EXAMPLE */
		DD_belatedPNG.fix('*');
		/* string argument can be any CSS selector */
		/* .png_bg example is unnecessary */
		/* change it to what suits you! */
		</script>
		<![endif]-->
  </head>
  <body>
    <div class="wrap">
      <%= render :partial => "/common/flash_div"  %>
      <%= render :partial => "/common/head_div"  %>
      <div class="clear"></div>
      <div class="main">
        <%= yield %>
        <div class="clear"></div>
      </div>
      <div class="foot"></div>
    </div>
  </body>
</html>
