<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" manifest="/assets/local_save/answer.manifest">
  <head>
    <title><%= @title.nil? ? "大学英语四级模拟考试" : @title %></title>
    <%= stylesheet_link_tag    "mokao" %>
    <%= stylesheet_link_tag    "public" %>
    <%= stylesheet_link_tag    "jplayer.blue.monday" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ujs" %>
    <%= javascript_include_tag "mokao" %>
    <%= javascript_include_tag 'cookie' %>
    <%= javascript_include_tag 'jshashtable-2.1' %>
    <%= javascript_include_tag "/assets/jplayer/jquery.jplayer.min.js" %>
    <%= javascript_include_tag 'jquery.ui.core.js' %>
    <%= javascript_include_tag 'jquery.ui.widget.js' %>
    <%= javascript_include_tag 'jquery.ui.mouse.js' %>
    <%= javascript_include_tag 'jquery.ui.droppable.js' %>
    <%= javascript_include_tag 'jquery.ui.draggable.js' %>
    <script language="javascript" type="text/javascript">
      var papers = new Object();
    </script>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');

      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
  </head>

  <body>
    <%= render :partial => "/common/flash_div"  %>
    <div class="wrap">
      <%= yield %>
    </div>    
  </body>
</html>
